<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="Database" name="targetBase">
			<dbProvider>System.Data.SqlClient</dbProvider>
			<connectionString>
				${configsetting:item=ConnectionStrings.SqlServer}
			</connectionString>
			<commandText>
				INSERT INTO Logs (Message, Level, StackTrace, Logger, Url, Exception, InnerException, CreatedOn, Controller, Action, Method, [User], Ip, SourceURL)
				VALUES (@message, @level, @stack_trace, @logger, @url, @exception, @inner, @time_stamp, @controller, @action, @method, @user, @ip, @sourceUrl)
			</commandText>
			<parameter name="@message" layout="${message}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@stack_trace" layout="${exception:format=StackTrace}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@url" layout="${aspnet-request-url}" />
			<parameter name="@exception" layout="${exception:format=Type}" />
			<parameter name="@inner" layout="${exception:format=method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
			<parameter name="@time_stamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
			<parameter name="@controller" layout="${aspnet-mvc-controller}" />
			<parameter name="@action" layout="${aspnet-mvc-action}" />
			<parameter name="@method" layout="${aspnet-request-method}" />
			<parameter name="@user" layout="${aspnet-user-identity}" />
			<parameter name="@ip" layout="${aspnet-request-ip}" />
			<parameter name="@sourceUrl" layout="${aspnet-request-referrer:whenEmpty=Sin Referer}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="targetBase">
			<filters defaultAction="Log">
				<when condition="contains('${aspnet-request-url}', 'localhost')" action="Ignore" />
			</filters>
		</logger>
	</rules>
</nlog>
